.register {
  height: 100vh;
  background-image: url("../../assets/images/BG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: animateRegisterBG alternate infinite 1s;
}

.register > h1 {
    color: var(--dark-orange);
}

.register-form {
  width: 25rem;
  border-radius: 1em;
  color: wheat;
}



@keyframes animateRegisterBG {
  from {
    /* background-size: 20%; */
    background-position: 10% ;
    
  }
  to {
    /* background-size: 40%; */
   
    background-position: 100% ;
  }
}