div.productContainer {
  padding: 20px;
 
  display: flex;
  gap: 5vw;
  width: 70vw;
  margin: auto;
}

div.sliderContainer {
  width: 50vw;
}

.customize {
  height: 50vh;
  width: 40vw;
}

.customize img {
  max-width: 100% !important;
  object-fit: contain;
  

  
}

div.infoContainer  {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: flex-start;

}

.title {
  font-size: 1.8rem;
  font-weight: 900;
}

.productDiscription {
  font-size: 1.4rem;
  font-weight: 100;
}

.price span {
  font-weight: bold;
  color: rgb(85, 83, 83);
}

.price {
  font-style: italic;
}

.seller {
  text-decoration: underline;
}

.custom-btn {
  width: 180px;
  border-radius: 25px !important;
  align-self: center;
}



